@page "/chat"
@using Blazored.LocalStorage
@using Microsoft.JSInterop
@inject NavigationManager navigationManager
@inject ChatClient _chatClient
@inject IJSRuntime JS
@attribute [Authorize]

<h1>Welcome to FinChatter</h1>
<hr />

@if (_isSuccess)
{
    <div class="alert alert-secondary mt-4" role="alert">
        <span class="oi oi-person mr-2" aria-hidden="true"></span>
        <span>You are connected as <b>@_username</b></span>
        <button class="btn btn-sm btn-warning ml-md-auto" @onclick="@DisconnectAsync">Disconnect</button>
    </div>

    <div id="scrollbox">
        @foreach (var item in _messages)
        {
            @if (item.IsNotice)
            {
                <div class="alert alert-info">@item.Body</div>
            }
            else
            {
                <div class="@item.CSS">
                    <div class="user">@item.Username</div>
                    <div class="msg">@item.Body</div>
                </div>
            }
        }
        <hr />
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Type a message" @bind="@_newMessage" @onkeyup="@Enter">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" @onclick="@(() => SendAsync(_newMessage))">Send</button>
            </div>
        </div>
    </div>
}
else
{
    <div class="invalid-feedback">@_message</div>
    <small id="emailHelp" class="form-text text-muted">@_message</small>
}


@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }
    private bool _isSuccess = false;
    private string _username;
    private string _message;
    private string _newMessage;

    // list of messages in chat
    private List<Message> _messages = new List<Message>();

    protected async override Task OnInitializedAsync()
    {
        _isSuccess = false;
        _message = string.Empty;
        await StartChat();
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("AutoScroll");
    }

    public async Task StartChat()
    {
        var authState = await AuthState;
        var user = authState.User;
        if (!user.Identity.IsAuthenticated)
            return;

        try
        {
            _username = user.Identity.Name;
            await Task.Delay(1);

            _messages.Clear();

            await _chatClient.StartConnection(_username, BroadcastMessage);
            _isSuccess = true;
        }
        catch (Exception e)
        {
            _message = $"ERROR: Failed to start chat client: {e.Message}";
            _isSuccess = false;
        }
    }

    private void BroadcastMessage(ChatMessage message)
    {
        bool isMine = message.UserName.Equals(_username, StringComparison.OrdinalIgnoreCase);
        _messages.Add(new Message(message.UserName, message.Message, isMine));

        StateHasChanged();
    }

    private async Task DisconnectAsync()
    {
        await _chatClient.DisconnectAsync(_username);
        navigationManager.NavigateTo("/");

    }

    private async Task SendAsync(string message)
    {
        if (!string.IsNullOrWhiteSpace(message))
        {
            await _chatClient.SendAsync(message, _username);
            _newMessage = string.Empty;
        }
    }

    public async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            if (!string.IsNullOrWhiteSpace(_newMessage))
                await SendAsync(_newMessage);
        }
    }

    private class Message
    {
        public Message(string username, string body, bool mine)
        {
            Username = username;
            Body = body;
            Mine = mine;
        }

        public string Username { get; set; }
        public string Body { get; set; }
        public bool Mine { get; set; }

        public bool IsNotice => Body.StartsWith("[Notice]");

        public string CSS => Mine ? "sent" : "received";
    }
}
